header {
    text-align: center;
}

h1 {
    font-size: 50px;
}

.blue {
    color: #74b2e1;
}

.green {
    color: #95c94a;
}

.yellow {
    color: #ebd355;
}

.purple {
    color: #c228a0;
}

#instructions {
    margin-left: 3%;
    margin-right: 3%;
}

.orders {
    border: 3pt solid black;
}

.values {
    border: 3pt solid black;
    width: 100%;
    font-size: 50px;
    padding: 5%;
}

.gemButtons {
    margin: 0;
    padding: 0;
    width: 100%;
}

button {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 24px;
    background-color: white;
}

#nextOrder {
    padding: 0;
}

img {
    height: 180px;
    width: 180px;
}

p {
    text-align: center;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.green, .purple {
    margin-left: -15px;
}